body, html {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  justify-content: center;
  z-index: -5;
  font-family: 'Montserrat', sans-serif;
}

.full-screen {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #0b0d15;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -2;
  color:white;
}

.border-animation {
  position: relative;
  background-color: #131622;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: max(300px, 50%);
}

@property --angle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.border-animation::after, .border-animation::before  {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  background-image: conic-gradient(from var(--angle), red, blue, red);
  padding: 4px;
  z-index: -1;
  border-radius: 12px;
  animation: 6s spin linear infinite;
}

.border-animation::before {
  opacity: 0.2;
  padding: 40px;
  filter: blur(1.5rem);
}

@keyframes spin {
  from {
    --angle: 0deg;
  }
  to {
    --angle: 360deg;
  }
}

h2 {
  margin-bottom: 20px;
}

input[type="text"], input[type="password"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  width: 100%;
}

.button-login {
  padding: 10px 15px;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  background-color: #561d8c;
  color: #fffdfd;
  cursor: pointer;
  width: 90%;
}

button:hover {
  background-image: linear-gradient(rgb(0 0 0/40%) 0 0);
}

#main-content {
  display: none;
  padding: 20px;
  width: 80%;
  h1{
    color: white;
  }
  .border-animation{
    padding: 0px;
    width: 50%;
  }
}

.item-list {
  list-style-type: none;
  padding: 0;
}

.item-list li {
  background: #2b2d30;
  color: white;
  margin: 10px 0;
  padding: 15px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 50%;
}

.logout-button {
  position: absolute;
  width: 100px;
  top: 20px;
  right: 20px;
  padding: 10px 15px;
  background-color: #bf1323;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.refresh-button {
  cursor: pointer;
  position: absolute;
  width: 100px;
  top: 20px;
  right: 140px;
  justify-content: center;
  align-items: center;
  background-color: #561d8c;
  border-radius: 4px;
  text-align: center;
  transition: 0.7s ease-in-out transform, 0.7s ease-in-out;
}

.order{
  background-color: #0b0d15;
  font-weight: bold;
}
